body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  


  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  


  h1 {
    color: #333;
    text-align: center;
  }
  


  .form-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  


  input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  


  button.add-button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  


  .completed {
    text-decoration: line-through;
    color: #777;
  }
  

  
  .complete-button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #ff0000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .complete-button.completed {
    background-color: #00ff00;
  }